@import "./node_modules/@ichtus/design-sytem/index.scss";

.pokecard {
    &-body {
        .ds-flex {
            width: 100%;
            
            >.pokeball:after { 
                z-index: -1;
            }
        }
    
        display: none;

        &.hasPokemon {
            visibility: visible;
            display: flex;
            justify-content: center;
            margin-top: 24px;
        }
    }

    &-stats {
        width: 100%;
        justify-content: center;
        background-color: rgb(41, 40, 38);
        color: #ffff;
        padding: 10px;
    }
}

.pokeball {    
    display: flex;
    position: relative;
    width: 300px;
    height: 300px;
    background: linear-gradient(
      to bottom,
      #e53935,
      #e53935 48%,
      #212121 48%,
      #212121 55%,
      #fff 55%
    );
    border-radius: 50%;
    border: 20px solid #212121;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 8px 5px 0 rgba(0, 0, 0, 0.2);
    
    &-pokemonImg {
        justify-content: center;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 40px;
        right: 40px;
        width: 30px;
        height: 30px;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 50%;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80px;
        height: 80px;
        background-color: #fff;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        border: 15px solid #212121;
        box-shadow: -5px -3px 0 rgba(0, 0, 0, 0.2);
      }
}